.donorDetail__wrapper{
    width: 915px;
    background-color: #fff;
    padding: 40px;
    border-radius: 0 20px 20px 20px;

}

.donorDetails__headline{
    font-size: 24px;
    margin: 0;
}


.donorDetails__btnSection{
display: flex;
gap: 20px;
}

.donorDetails__editBtn,
.donorDetails__deleteBtn{
    height: 40px;
    padding: 0 40px;
    border-radius: 28px;
    background-color: #d8db2f;
}