.registration__wrapper{
    display: flex;
    background-color: #fff;
    border-radius: 0 20px 20px 20px;
}

.form__headline {
    font-size: 24px;
    margin: 0;
  }

  .form__input{
    display: flex;
    flex-direction: column;
  }

  .registration__formSection{
    width: 515px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .registration__imgSection{
    width: 400px;
    background-color: #133041;
    border-radius: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__errror{
    color: rgb(192, 30, 30);
  }

  .form__btn{
    height: 56px;
    padding: 0 40px;
    border-radius: 28px;
    background-color: #d8db2f;
    min-width: 153px;
    border: none;
  }

  input, select, textarea{
    border: 1px #e7e9eb solid;
    padding: 10px;
    border-radius: 20px;
  }